*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: #000;
    font-family: 'Andale Mono';
    font-size: 14px;
    color: #29fe13;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.output{
    width: 100%;
    line-height: 18px;
}

.input{
    position: relative;
    width: 100%;
    height: 18px;
    line-height: 18px;
}

.input .indicator{
    width: 20px;
    line-height: 18px;
}

.input input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-indent: 16px;
    line-height: 18px;
    border: none;
    outline: none;
    background: none;
    font-family: 'Andale Mono', 'Courier New';
    font-size: 14px;
    color: #29fe13;
}